fastapi
uvicorn[standard]
langchain
langchain-community
langchain-groq
langchain-huggingface
chromadb
sentence-transformers
pydantic
python-multipart
requests
python-dotenv
streamlit
audio-recorder-streamlit

